@font-face {
    font-family: "inter";
    src: url(../fuentes/Inter/LTInternet-Bold.ttf);
}

@font-face {
    font-family: "coco";
    src: url(../fuentes/coco/Cocogoose-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: "cocodark";
    src: url(../fuentes/coco/Cocogoose-Pro-Darkmode-trial.ttf);
}

@font-face {
    font-family: "light";
    src: url(../fuentes/light/Klik-Light.otf);
}

@font-face {
    font-family: "semidark";
    src: url(../fuentes/coco/Cocogoose-Pro-Light-trial.ttf);
}
@font-face {
    font-family: "Caviardreams";
    src: url(..fuentes/CaviarDreams/CaviarDreams.ttf);
}
#navbar {
    height: 4em;
    display: flex;
    align-items: center;
    margin-top:0%;
    background-color: #bc0f0f;
}
#search img{
    height: 1em;
    width: 1em;
    margin-left: 2em;
}

#logo {
    margin-left: 1.6em;
    height: 3.7em;
    width: 5em;

}
.barraBus{
    margin-left: 2em;
    width: 28em;
    margin-right:2em;
}
#form{
    background-color: white;
    border-radius: 0.2em;
    
}
#barra{
    width: 27.8em;
    height: 2em;
    border: 0em;
    border-color: white;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    padding-left: 1em;
    box-sizing: border-box;
}
#form button{
    background-color: white;
    border: 0em;
}
.dropdown{
    position: relative;
    }
.dropdown button{
    background-color: #bc0f0f;
    border:0;
}
.tituloNav{
    color: white;
    text-decoration: none;
    font-size:1.2em;
    font-family: 'Caviardreams';
    margin-right:1em;
    margin-left:1em;
}
.dropdown-categorias{
    overflow: auto;
    display: none;
    position:absolute;
    border-radius:0.3em;
    background-color: white;
    
}
.dropdown:hover .dropdown-categorias{
    display: block;
    margin-left:1em;
}
.dropdown-item{
    display: block;
    text-decoration: none;
    height:2em;
    font-size: 1.2em;
    width: 5.5em;
    color: black;
    text-decoration: none;
    padding-left:0.3em;
    padding-top:0.3em;
}
.dropdown-item:hover{

    background-color: rgb(172, 55, 55);
    
}
#carrito img{
    height:1.4em;
    width:1.4em;
}
#carrito{
    margin-right: 1em;
    border-radius:0.3em;
    border: 0;
}
#ingresar{
    margin-left:4em;
    border-radius:0.3em;
    border: 0;
    height: 2em;
    width: 5em;
}
#ingresar a{
    text-decoration: none;
    color: black;
    font-size:1em;
}#navbar {
    height: 6em;
    display: flex;
    align-items: center;
    margin-top:0%;
    background-color: #bc0f0f;
}
#logo {
    margin-left: 3em;
    height: 5em;

}
.barraBus{
    margin-left: 3em;
    width: 50em;
    margin-right:4em;
}
#form{
    background-color: white;
    border-radius: 1em;
}
#barra{
    width: 50em;
    height: 3em;
    border: 0em;
    border-color: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}
#form button{
    background-color: white;
    border: 0em;
}
.dropdown{
    position: relative;
    margin:4em;


}
.dropdown button{
    background-color: #bc0f0f;
    border: 0cap;    
}
.tituloNav{
    color: white;
    text-decoration: none;
    font-size:1.5em;
    font-style: Alegreya Sans SC;
    margin-right:1em;
}
.dropdown-categorias{
    overflow: auto;
    display: none;
    position:absolute;
    border-radius:0.5em;
    background-color: white;
    padding: 0.5em;
}
.dropdown:hover .dropdown-categorias{
    display: block;
}
.dropdown-item{
    display: block;
    text-decoration: none;
    height:2em;
    font-size: 1.2em;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}
@font-face {
    font-family: "inter";
    src: url(../fuentes/Inter/LTInternet-Bold.ttf);
}

@font-face {
    font-family: "coco";
    src: url(../fuentes/coco/Cocogoose-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: "cocodark";
    src: url(../fuentes/coco/Cocogoose-Pro-Darkmode-trial.ttf);
}

@font-face {
    font-family: "light";
    src: url(../fuentes/light/Klik-Light.otf);
}

@font-face {
    font-family: "semidark";
    src: url(../fuentes/coco/Cocogoose-Pro-Light-trial.ttf);
}
html {
    scroll-behavior: smooth;
}

h1 {
    margin-left: 3em;
    font-family: 'Inter';
    color: #2175F2; 
    font-size: 1.5em;
}

.barra {
    color: #BEB1B1; 
}

.signo1 {
    color: #000; 
}

.contenedor-galeria {
    display: flex;
    align-items: flex-start;
    gap: 1em; 
    margin-left: 4em;
    margin-top: 3em;
}

.galeria-fotos {
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
}

.foto {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s;
    cursor: pointer;
}

.foto:hover {
    transform: scale(1.05);
    border-color: #007BFF;
}

.detalle-producto {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.foto-grande {
    margin-left: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.foto-grande img {
    width: 260px;  
    height: auto;
    object-fit: cover;
}

.datos-producto {
    top: -30px; 
    margin-left: 150px; 
    max-width: 550px;
    position: relative;
}

.titulo-producto {
    font-family: 'coco';
    font-size: 2em;
    color: #000000;
}

.precio {
    font-family: light;
    margin-top: -0.4em;
    font-size: 3em;
}

.descripcion {
    margin-left: 3.5em;
    margin-top: 8em;
}

.titulo {
    font-size: 2em;
    font-family: 'cocodark';
}

.texto-descripcion {
    margin-top: -1em;
    color: #8C8989;
    font-family: 'light';
    font-size: 1.5em;
}


.comentarios {
    display: flex;
    justify-content: space-between;
    margin: 7em 3.5em;
    gap: 1em;
}

.comentario {
    flex: 1;
    border: 2px solid #F7F7F7;
    border-radius: 15px;
    padding: 1.5em;
    background-color: #f5f5f5;
}

.opinion {
    font-family: 'coco';
    font-size: 1em;
    color: #000;
    margin-bottom: 1em;
}

.info-usuario {
    display: flex;
    align-items: center;
    gap: 1em;
}

.foto-perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.info-texto {
    display: flex;
    flex-direction: column;
}

.nombre {
    font-family: 'Arial';
    font-size: 1em;
    color: #000;
}

.usuario {
    font-family: 'Arial';
    font-size: 0.9em;
    color: #666;
    margin-top: -1em;
}

.boton-comprar {
    position: relative;
    display: block;
    width: 100%;    
    max-width: 550px; 
    padding: 1em;
    margin-top: -2em;
    background-color: #86DEBE; 
    color: #000000; 
    border: none;
    border-radius: 5px;
    font-family: 'coco';
    font-size: 0.8em;
    cursor: pointer;
    text-align: center; 
    transition: background-color 0.3s, color 0.3s;
}

.boton-comprar:hover {
    background-color: #519179;
}

.button__text {
    font: bold 20px "Quicksand", sans-serif;
    color: #333;
    transition: all 0.2s;
}

.boton-comprar.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.boton-comprar.button--loading::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 4px solid transparent;
    border-top-color: #333;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.boton-comprar.finalizado {
    background-color: #dbd7d7; 
    color: #333; 
}

.boton-comprar.finalizado .button__text {
    color: #333; 
}


.botones-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.btn-preguntar {
    width: 40%;
    padding: 1em;
    background-color: #86DEBE;
    color: #333;
    border: none;
    border-radius: 5px;
    font-family: 'coco';
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-preguntar:hover {
    background-color: #519179;
}

.btn-denunciar {
    width: 40%;
    padding: 1em;
    background-color: #DD4C4C;
    color: #333;
    border: none;
    border-radius: 5px;
    font-family: 'coco';
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-denunciar:hover {
    background-color: #a83e3e;
}

.img-pequena {
    width: 8%;
    margin-right:1em;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

hr {
    height: 0.05em;
    background-color: #B6A4A4;
    border-radius: 1em;
    width: 92.5%;
}

.preguntas {
    margin-top: 3em;
    margin-left: 4em;
}

.subtitulo {
    margin-top: -1em;
    color: #000000;
    font-family: 'light';
    font-size: 1.7em;
}

.botones-duda {
    position: relative;
}

.duda {
    position: relative;
    display: inline-block;
    border-radius: 2em;
    text-align: center;
    background-color: #E7EFED;
    color: #508C9E;
    border: 1px solid #000;
    cursor: pointer;
    padding: 1em 2em;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    width: auto;
}

.duda:hover {
    background-color: #D1E6E4;
    transform: scale(1.05);
}

.tooltip-text {
    width: 100%; 
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%; 
    margin-left: -75%; 
    opacity: 0;
    transition: opacity 1s;
}

.duda:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



.preguntar {
    display: flex;
    align-items: center; 
    gap: 1.5em; 
    margin-top: 1.5em; 
}

.escrbir1 {
    padding: 1em; 
    font-size: 1em; 
    width: 60%; 
    border-radius: 8px; 
    border: 1px solid #8f8f8f; 
    box-sizing: border-box; 
}

.enviar {
    font-size: 1em; 
    font-family: coco;
    padding: 1em; 
    border-radius: 8px; 
    border: 1px solid #8f8f8f; 
    box-sizing: border-box; 
    background-color: #B2DCD9;
    cursor: pointer; 
}

.enviar:hover {
    background-color: #68928f;
}

.pregunta {
    font-family: semidark;
    color:#000;
}

.respuesta {
    font-family: light;
    color: #bbb8b8;
}

.footer1{
    background-color: #fff;
}

.footer2 {
    background-color: #f8f8f8; 
    padding: 20px;
    display: flex;
    align-items: center;
}
  
.footer2 img {
    max-width: 100px; 
    margin-right: 20px; 
}

.footer-txt {
    display: flex;
    margin-left: 10em;
    gap: 30em; 
}

  
.titulos-footer p {
    margin: 0;
    font-size: 16px;
    color: #333; 
}
.slider{
    width: 70em;
    border: 0.2em solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 3.2em;
    overflow: hidden;
    margin-bottom: 5em;
    
    
}
.slider ul{
    display: flex;
    margin-top: 0%;
    margin-bottom:0% ;
    padding: 0;
    width: 400%;
    height:40em;
    animation: cambio 20s infinite alternate;
    
}
.slider li{

    width: 100%;
    list-style: none;

}

.slider img{
    width: 100%;
    height:100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% { margin-left: 0;}

    25%{ margin-left:-100%;}
    45%{ margin-left:-100%; }

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}
.publicacion{
    background-color: #ffffff;
    border-radius: 1em;
    height: 15em;
    width:15em;
    display: inline-flex;
    margin-left: 6%;
    text-decoration: none;
    margin-bottom: 2em;
    border: #646464 solid 0.1em;
    
}
.publicacion img{
    height:10em;
    width: 12em;
    margin-top: 1em;
    margin-right:1.5em ;
    margin-left: 1.5em;
    border: #000 solid 0.1em;
}
.publicacion h1{
    color: #000;
    font-size: 1em;
    margin-left: 1.5em;
    margin-bottom: 0em;
    text-decoration: none;
}
.publicacion h2{
font-size: 1em;
margin-left: 1.5em;
margin-top: 0em;
text-decoration: none;
color: none;
}
.recomendaciones{
    color: #000;
}
.recomendados{
    background-color: #d8d8d8;
    padding-top:1em;
    padding-bottom: 2em;
}
.formulario{
    background-color: #E2E2E2;  
    display: flex;
    
}
.formulario h1{
    margin-left: 0;
    margin-top: 0;
}
.formulario a{
    height: 1em;
    margin-left: 3em;
    margin-top: 1em;
}
.entrega{
    position: relative;
    margin-left: 26.2%;
    margin-top: 5em;
    height: 35em;
    width: 40em;
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 5em;
    border: #000 solid 0.1em;
}
.entrega h1{
    margin-left: 1.5em;
    color: #000;
    margin-right: 0em;
    margin-top: 1em;

} 
#domicilio {
    margin-left: 6em;
    margin-top: 4em;
    height: 8em;
    width: 35em;
    margin-bottom: 4em;
    
}
#retirar{
    margin-left: 6em;
    height: 8em;
    width: 35em;
    margin-bottom: 4em;
}
#TituloBoton{
    font-size: 1.4em;
}
#boont{
    font-size: 1.2em;
}
#paga{
    position: absolute;
    width: 100%;
    bottom: 0%;
    border-radius: 0 0 0.5em 0.5em;
    background-color: #D3D3D3;
    height: 5em;
    text-align: justify;
}
#aPagar{
    position: relative;
    margin-left: 1.2em;
    font-size: 1.4em;
}
#precioCompra{
position: absolute;
right: 0%;
bottom: 12%;
font-size: 1.4em;
margin-right: 2em;
}
#mastercard{
    margin-top: 4em;
    margin-left: 6em;
    height: 6em;
    width: 35em;
    margin-bottom: 1.5em;
}
#visa{
    height: 6em;
    width: 35em;
    margin-left: 6em;
    margin-bottom: 1.5em;
}
#Nueva{
    height: 6em;
    margin-left: 6em;
    width: 35em;
}
.formularioTarjeta{
    background-color: #C3C3C3;
    width: 100%;
    height: 52.5em;
}
.TarjNueva{
    background-color: #ffffff;
    position: absolute;
    height: 45em;
    width: 60em;
    margin-top: 4em;
    margin-left: 10%;
}