#navbar {
    height: 6em;
    display: flex;
    align-items: center;
    margin-top:0%;
    background-color: #bc0f0f;
}
body{
    margin: 0em;
    background-color: rgb(39, 3, 39);
}
#logo {
    margin-left: 3em;
    height: 5em;

}
.barraBus{
    margin-left: 3em;
    width: 50em;
    margin-right:4em;
}
#form{
    background-color: white;
    border-radius: 1em;
}
#barra{
    width: 50em;
    height: 3em;
    border: 0em;
    border-color: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}
#form button{
    background-color: white;
    border: 0em;
}
.dropdown{
    position: relative;
    margin:4em;


}
.dropdown button{
    background-color: #bc0f0f;
    border: 0cap;    
}
.titulo{
    color: white;
    text-decoration: none;
    font-size:1.5em;
    font-style: Alegreya Sans SC;
    margin-right:1em;
}
.dropdown-categorias{
    overflow: auto;
    display: none;
    position:absolute;
    border-radius:0.5em;
    background-color: white;
    padding: 0.5em;
}
.dropdown:hover .dropdown-categorias{
    display: block;
}
.dropdown-item{
    display: block;
    text-decoration: none;
    height:2em;
    font-size: 1.2em;
}